@tailwind base;
@tailwind components;
@tailwind utilities;

.section-container {
  @apply max-w-6xl mx-auto text-gray-700 text-center px-4 md:px-0;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 21px;
  position: relative;
  transition: all 0.25s;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: rgb(91, 91, 91);
  transform: rotate(0deg);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(8px);
}

.hamburger-bottom {
  transform: translateY(16px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

#hero {
  background-image: url("../images/header-desktop.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  #hero {
    background-image: url("../images/header-mobile.JPG");
    background-position: bottom;
  }
}
